.leadparagraph_ctn {
	max-width: 1100px;
	margin: 0 auto;

	p:last-child {
		margin-bottom: 0;
	}
}

.lead-text {
	font-size: 64px;

	@include font(mu,sbold,weight);

	span {
		color: map-get($map: $colors, $key: white50);

		&.active {
			color: map-get($map: $colors, $key: white);
		}
	}
}
